{
    "presets": ["next/babel"],
    "plugins":[    
      // 可选链配置
      "@babel/plugin-proposal-optional-chaining",
      "@babel/plugin-proposal-nullish-coalescing-operator",
      // 可以使用装饰器decorator
      ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
  }