.banner {
  margin: 10px 0 24px;
  height: 150px;
  border-radius: 0px;
  overflow: hidden;
}

.msg-page {
  margin-bottom: 100px;

  :global{
    .ant-card-head{
      border-color: var(--border-color);
    }

  }
  .left-nav-box {
    :global{
      .ant-card {
        background-color: var(--bg-color);
        // box-shadow: none
      }
    }

    .left-nav-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 12px 20px;
        transition: all 0.3s;
        cursor: pointer;
        color: var(--text-color-deep);
        // margin: 10px 0;
        &:hover {
          border-radius: 0px;
          background: var(--option-hover-color);
          // border-color: #91d5ff;
          color: var(--g-primary-color);
        }
      }

      .active {
        border-radius: 0px;
        background: var(--option-hover-color);
        // border-color: #91d5ff;
        color: var(--g-primary-color);
      }
    }
  }

  .data-list {
    :global{
      .ant-card{
        background-color: var(--bg-color);
      }
      .ant-card-head-title{
        color: var(--text-color-deep);
      }
    }
  }

  .bottom-tips {
    max-width: 500px;
    margin: 50px auto;

    :global{
      .ant-divider {
        .ant-divider-inner-text {
          font-size: 14px;
          color: var(--text-color-light);
        }
      }
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .banner {
    margin: 8px auto 24px !important;
    padding: 0 24px !important;

    .item-background {
      border-radius: 0px;
    }
  }

  .msg-page {
    padding: 0 24px !important;
  }
}

@media screen and (max-width: @screen-md) {
  .banner {
    margin: 0 auto 15px !important;
    padding: 0 15px !important;

    .item-background {
      border-radius: 0px;
    }
  }

  .msg-page {
    padding: 0 15px !important;

    .left-nav-box {
      .left-nav-list {
        padding: 15px !important;
        list-style: none;
        padding: 0 !important;
      }

      :global{
        .ant-card-body {
          padding: 15px !important;
        }
      }
    }

    .data-list {
      :global{
        .ant-card-body {
          padding: 15px 5px !important;
        }
      }

      .user-list {
        margin: 0 10px !important;

        .ant-card-body {
          padding: 15px !important;
        }
      }
      .left-box {
        display: none !important;
      }

      .source {
        width: 150px !important;
        font-size: 12px;
      }
    }
  }
}
